.logo{
    align-items: center;
    display: flex;
    justify-content: center;
}

.bar{
    background-color: rgb(222, 222, 222);
    height: 70px;
    text-align: center;
    margin-bottom: 3px;
}

#search{
    margin-top: 2px;
    margin-bottom: 3px;
    width: 360px;

}


.box1{ 
    background-color: turquoise;
    width: 39.6%;
    float: left;
    text-align: center;
    font-size: 1.1em;
    margin-right: 3px;
    padding-top: 17.4px;
    padding-bottom: 17.4px;

}

.line{
    color: blue;
    text-decoration-color: blue;
    
}

.box2{ 
    background-color: rgb(59, 196, 182);
    width: 20%;
    float: left;
    text-align: center;
    text-decoration: underline;
    color: blue;
    text-decoration-color: blue;
    margin-right: 3px;
    padding-top: 11.8px;
    padding-bottom: 11.8px;

}

.box3{ 
    background-color: rgb(45, 156, 144);
    width: 40%;
    float: left;
    text-align: center;
    font-size: small;    
    padding-top: 9.2px;
    padding-bottom: 9.2px;
}

#sub{
    margin-top: 2px;
    margin-bottom: 2px;
}

#arc{
    color: blue;
    text-decoration-color: blue;
    font-size: medium;
}

.cpr{
    margin-top: 120px;
    text-align: center;
    align-items: center;
}